:root {
  --text-primary: #1B1F23;
  --text-secondary: #999FA6;
  --text-contrast: #FFF;

  --page-bg: #F5F5F5;
  --primary-bg: #FFF;
  --secondary-bg: #333333;

  --orange: #FF5500;
  --orange-disabled: #FFA375;

  --border-default: #E1E3E6;
}