
.modal {
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 2;
    height: calc(var(--vh, 1vh) * 100);
    background: var(--modal-overlay-bg);
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__content {
    
  }
}