
.button {
  border: none;
  font: var(--font-xxs);
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 8px;

  &_contained {
    background: var(--orange);
    color: var(--text-contrast);
  }

  &_outlined {
    background: var(--primary-bg);
    border: 1px solid var(--orange);
    color: var(--orange);
  }
}