
.filmsList {
  display: flex;
  gap: 23px;
  max-height: 100%;
  overflow: hidden;


  &__sidebar {
    position: relative;
    max-width: 408px;
    width: 100%;

    & > div {
      position: fixed;
      top: 107px;
    }

  }

  &__filters {
    flex-shrink: 0;
  }

  &__cards {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 16px;
    overflow-y: auto;
  }
}