
.basketModal {
  display: flex;
  flex-direction: column;

  &__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
  }

  &__content {
    margin-bottom: 24px;
  }

  &__footer {
    display: flex;
    gap: 8px;
  }
}